= form.text_area :text, placeholder: "text" , rows: "10"
= form.label :image, class: 'form__mask__image' do
    = icon('fas', 'image', class: 'icon')
    = form.file_field :image, class: 'hidden'
= form.submit "投稿を確定する"